p {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 300;
    color: #9fa3a7;
    line-height: 22px;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 42px;
}

h1,h2,h3,h4,h5 {
    color: #26292c;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #26272d;
}

.gray-bg {
  background-color: #f5f5f8;
}

.site-header {
    position: absolute;
    padding: 50px 0 0;
    background-color: transparent;
    width: 100%;
    z-index: 3;
}

.site-title {
    font-size: 18px;
    line-height: 26px;
    color: #26272d;
}

.site-title:hover {
    color: #26272d;   
}

.site-title span {
    font-weight: 700;
}

.site-title a:hover {
    color: #fff;
}

.navbar-collapse {
    text-align: center;
}

.navbar-nav {
    float: none;
    display: inline-block;
}

.navbar-nav > li > a, 
.slicknav_nav > li > a {
    padding: 0;
    font-size: 16px;
    position: relative;
    color: #135EA8;
    line-height: 26px;
}

.site-header-white .navbar-nav > li > a,
.site-header-white .site-title {
    color: #fff;
}

.navbar-nav > li > a i {
    margin-left: 5px;
}

.navbar-nav > li + li {
    margin-left: 30px;
}

.nav .open > a, 
.nav .open > a:focus, 
.nav .open > a:hover,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li.active > a,
.navbar-collapse li a:hover,
.dropdown.open > a, 
.site-header-white .dropdown.open > a,
.dropdown-menu a:hover, 
.dropdown:hover > a, 
.dropdown-menu>li>a:focus,
.dropdown-menu li a:hover,
.slicknav_nav > li.active a,
.slicknav_open .slicknav_arrow,
.slicknav_nav > li a:hover {
    background-color: transparent;
    color: #135EA8;
}

.navbar-toggle {
    border-color: #135EA8;
    margin: 0 15px 0 0;
    position: relative;
    top: -1px;
}

.navbar-toggle:hover,
.navbar-toggle[aria-expanded=true] {
    background-color: #135EA8;
    border-color: #135EA8;
    cursor: pointer;
}

.navbar-toggle:hover .icon-bar,
.navbar-toggle[aria-expanded=true] .icon-bar {
    background-color: #135EA8;
}

.navbar-toggle  .icon-bar {
    background-color: #135EA8;
}

.navbar-nav .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    min-width: 130px;
    border: 0;
    border-top: 5px solid #135EA8;
    top: 140%;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
}

.navbar-nav li a:hover + .dropdown-menu,
.navbar-nav .dropdown-menu:hover {
    opacity: 1;
    visibility: visible;
    top: 100%;
    transition-delay: 0s;
}

.dropdown-menu li a {
    padding: 5px 15px;
    position: relative;
    left: 0;
}

.dropdown-menu li a:hover {
    left: 15px;
}

.hero { 
    background: url(../img/Banner1.jpg) no-repeat center / cover; 
    height: 100%;
    width: 100%;
    display: table;
    position: relative;
}

.overlay:before {
  content: '';
  background-color: rgba(255,255,255,0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.hero-content {
    display: table-cell;
    vertical-align: middle;
    padding-top: 75px;
}

.hero-text {
    max-width: 890px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.hero-text h1 {
    position: relative;
    margin: 0;
}

.hero-text p {
    position: relative;
    margin: 45px 0 30px;
    font-size: 20px;
    color: #26272d;
}

.hero-text .btn {
    position: relative;
    background-color: transparent;
}

.hero-text .btn:hover {
    background-color: #26272d;
    color: #fff;
}

.hero .breadcrumb:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 45px;
    height: 12px;
    width: 80px;
    border-top: 5px solid #fff;
    border-bottom: 3px solid #fff;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.subpage-hero {
    height: 400px;
}

.subpage-hero.overlay:before {
    background-color: rgba(38,39,45,0.5);
}

.site-section {
   padding: 100px 0 140px;
}

.subheading-text {
    font-size: 20px;
    font-style: italic;
}

.heading-separator {
    position: relative;
    margin: 0;
    padding-bottom: 70px;
}

.heading-separator:after {
    content: "";
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    height: 2px;
    width: 50px;
    margin: 0 auto;
    background-color: #267df4;
}

.section-map-feature {
    padding-top: 250px;
    background: #071021; 
}

.section-map-feature h2 {
    padding-bottom: 30px;
    margin: 0;
}

.section-map-feature h2,
.section-map-feature p {
    color: #fff;
}

.counter {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 300;
    line-height: 1;
}

.counter-item h3 {
    margin: 0;
    font-size: 16px;
    color: #0960d7;
}

.site-footer {
    background-color: #f5f5f8;
    padding-top: 95px;
}

.site-footer .site-title {
    display: inline-block;
    margin-bottom: 40px;
}

.site-footer h3 {
    font-size: 16px;
    text-transform: uppercase;
    margin:0 0 40px;
}

.site-footer > .container {
    padding-bottom: 170px;
}

.site-footer .list-unstyled li + li {
    margin-top: 20px;
}

.list-unstyled {
    margin-bottom: 0;
}

.list-unstyled li a,
.list-unstyled li p {
    font-size: 16px;
    color: #8c8f94;
    font-weight: 300;
}

.list-unstyled li a:hover,
.list-unstyled li.active a {
    color: #135EA8;
}